<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>Landsweeper</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <canvas id="canvas" width="1200" height="1100"></canvas>
    <div id="status"></div>
    <h1 id="logo">
      Landsweeper
    </h1>
    <p id="info">
      <a href="/how-to-play" id="info-link">
        Help
      </a>
    </p>
    <script src="/client.js"></script>
  </body>
</html>

